  </br></br>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <%= image_tag("Coffee-Region.jpg")%></br>
        <div class="caption">
          <p class = "chosen_font">
            Our coffee comes from the best 
            regions in the world, considered the coffee belt.  Some of these regions include, Central America, South Ameria, Africa, and last but not 
            least, Indonesia.
          </p>
          </br>
          <p class = "chosen_font">
            We only import beans from our verified, sustainably grown, farms. We coordinate with inspection agencies who personally travel to each farm and oversee their operations.
          </p> 
          </br>
          <p class = "chosen_font">
            When you buy our bulk coffee beans and grounds, or order a latte from our baristas at the cafe, you can feel comfortable knowing that your purchase, and morning coffee can be consumed with a clean conscience.
          </p>
          </br>
          <p class = "chosen_font">
            If you have any questions about our processes, or the farms we purchase from, ask for a pamphlet in the shop.
          </p>
        </div>
      </div>
    </div>

      <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <%= image_tag("Coffee-Shop.jpeg")%></br>
        <div class="caption">
          <p class = "chosen_font">
           We only choose the finest coffee beans on the planet.  We have buyers in the regions we import from that hand pick the selection.
          </p>
          </br>
          <p class = "chosen_font">
            These buyers have in depth knowledge about the regions they’re in, and the coffee beans we buy. If a buyer doesn’t like a batch, we’d prefer to not offer that particular bean and roast, until a more worthy crop is ready to meet our standars, and keep the trust of you, our local heroes.
          </p> 
          </br>
          <p class = "chosen_font">
            We have several varieties of beans on a regular basis.  If you want whole beans, or grounds, we have you covered.
          </P>
          </br>
          <p class = "chosen_font">
            From dark roasts, medium roasts, light roasts, green coffee beans, and specialty shipments of varIous kinds, we’re sure to have what you’re looking for.
          </p>

        </div>
      </div>
    </div>

      <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <%= image_tag("Coffee-Beans.jpeg")%></br>
        <div class="caption">
          <p class = "chosen_font">
            Our cafe, our pride and joy. We service hundreds of customers on a daily basis.  We take pride in an excellent environment suited for every type of visitor.  
          </p>
          </br>
          <p class = "chosen_font">
           Our order ahead feauture is ready and available for those of you in a rush, who need to get in and out in a hurry.  
          </p> 
          </br>
          <p class = "chosen_font">
            For our happy customers who want to spend some time with us, we have comfortabe tables, booths, and couches.  
          </p>
          </br>
          <p class = "chosen_font">
            Booth tables are equipped with a number of board games for friends to hang out and have a good time.  We also have a weekly, local band play on Friday nights.
          </p>
          </br>
          <p class = "chosen_font">
            Come by and see for yourself, the Bold Mountain Coffee difference.
           </p> 
        </div>
      </div>
    </div>
  </div>
