// Place all the styles related to the admin/Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	border: 1px solid black;
	border-spacing: 0px;
	.order_row{
		background-color: rgb(102,51,51);
		color: white;
	}
}
td{
	border: 1px solid black;
}

thead{
	border: 1px solid black;
	margin-bottom: 0px;
}
tbody{
	border: 1px solid red;
	margin-top: 0px;
}
.thumbnail{
	border: 0px;
	img{
		height: 250px;	
		width: 250;
	}
	.caption{
		padding-left: 0px;
		padding-right: 0px;
		p{
			font-family: Helvetica Neue;
			font-size: 1.5em;
		}
	}
}
.bold_num_field{
	width: 100px;
	height: 30px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	padding: 0px;
	padding-top: 0px;
}
.time_field{
	width: 100px;
	height: 30px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	padding: 0px;
	padding-top: 0px;
	margin-left: 20px;
}

.pick{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.8em;	
}

.form-width{
	width: 800px;
	border: 5px solid black;
}

.btn-process{
	border: 1px solid black;
	width: 170px;
	height: 50px;
	font-size: 1.5em;
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	background-color: rgb(121,84,53);
	margin-bottom: 0px;
}
