<div class = "row">
	<div class = "col-md-6">
		</br>
		<strong><center><div class = "about_header">Our Story</div></center></strong>
		</br>	
		<div class = "jumbotron abo">
			<p>
			Bold Mountain Coffee began 14 years ago after a visit to South America.  We saw the amazing coffee culture and met with locals to discuss the practices of local farmers.
			</br></br>

			We discovered that there were many farms that mass produced coffee using very questionable methods that could be detrimental to the health of those who drank it.
			</br></br>
			
			We also found many local farms, who took great pride in their work, and that meant they took great pride in their coffee. 
			</br></br>

			After returning home to the DC area, we looked in on local coffee shops, and asked where they received their coffee shipments from.  We were dissapointed to learn that most of them got their coffee from the mass production farms in order to save a few bucks, and maximize profit. 
			</br></br>

			Needless to say, we didn’t want to go to those places anymore and risk our health and moral standards.  So, we created Bold Mountain Coffee.  When visiting us, you can be sure we only buy from well practiced, sustainably farmed, and organically sourced farms.  We also take great pride in making each and every cup of coffee that crosses our counters.  Come, and see for yourself!
		</div>
		</br>
	</div>

	<div class = "col-md-6">
		<%= image_tag("About_Us.png", :class => "aboutpic pull left") %>
	</div>
</div>