/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.logo{
	height: 100%;
}
.order_font{
	font-family: Helvetica Neue;
	font-size: 1.5em;
}
.chosen_font{
	font-family: Helvetica Neue;
}
.italic_font{
	font-style: italic;
	font-size: 1.5em;
	font-family: Helvetica Neue;
}
.navbar{
	background-image: url("header.jpg");
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;
	border-radius: 0 !important;
}
.navbar-inverse{
	.navbar-header{
		height: 225px;
		font-family: Impact, Charcoal, sans-serif;
	}
	.navbar-nav{
		.big-font{
			background-color: none;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 20px;
			padding-left: 20px;
			border-right: 3px solid white;
			line-height: 20px;
			font-size: 2.3em;
			color: white;
			font-weight: bold;
		}
	}
}


.thumbnail{
	border: 0px;
	img{
		height: 250px;
		width: 350px;
	}
	.caption{
		padding-left: 0px;
		padding-right: 0px;
		p{
			font-family: Helvetica Neue;
			font-size: 1.5em;
		}
	}
}

.footer{
	background-color: black;
	height: 125px;
	bottom: 0;
	margin-bottom: 0;
	height: 150px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1em;
	ul {
		margin-left: 150px;
		li >
		.footer-font{
			background-color: none;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 15px;
			padding-left: 15px;
			border-right: 3px solid white;
			line-height: 20px;
			font-size: 1.6em;
			color: white;
			font-weight: bold;
		}

		.footer-font:hover{
			background-color: black;
		}
	}
}
text{
	font-size: 1.6em;
	color: white;
	font-weight: bold;
	margin-left: 100px;

}
.abo{
	background-color: white;
	font-family: Helvetica Neue;
	font-size: 1.5em;
	margin-bottom: 0px;
	padding-left: 0px;
	border: 10px solid black;
	border-radius: 0px !important;
}
.contact{
	background-color: rgb(155,138,129);
	font-family: Helvetica Neue;
	font-size: 1.5em;
	margin-bottom: 0px;
	padding-left: 0px;
	border: 1px solid black;
	border-radius: 0px !important;
}

contactH{
	color: #780000;
	font-size: 1.5em;
}

.about{
	background-image: url("back.JPG");
}
.aboutpic{
	width: 100%;
	height: 1000px;

}
.form-control{
	background-color: gray;
	border: 2px solid black;
}

.font{
	font-family: Helvetica Neue;
	font-size: 1.5em;
}
.btn-send{
	width: 150px;
	height: 50px;
	font-size: 1.5em;
	color: white;
	background-color: rgb(121,84,53);
	margin-bottom: 0px;
}

.about_header{
	font-size: 2em;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
}


.navbar-link{
		font-size: 1.3em;
		font-family: Impact, Charcoal, sans-serif;
		color: white;
		padding-left: 5px;
		padding-right: 7px;
		border-right: 2px solid white;
		line-height: 5px;
}
.navbar-link:last-child{
	border-right: none;
}

.navbar-inverse .navbar-link{
	color: white;
}
a:hover{
	text-decoration: none;
}
thanks{
	font-family: 'Brush Script MT', cursive;
	font-size: 1em;
	color: white;
}
.sign_in{
	color: white;
	font-size: 1.5em;
}
.dev{
	background-color: white;
	border-radius: 0px !important;
	border: none;
}

.devise{
	border: 1px solid black;
	background-color: rgb(102,51,51);
	color: white;
	font-size: 1.3em;
	font-family: Helvetica Nueu;
	max-width: 800px;
	padding-top: 0px;
}
.btn-reg{
	width: 150px;
	height: 50px;
	font-size: 1.2em;
	color: white;
	background-color: black;
	border: none;
	margin-bottom: 0px;
}