/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.logo{
	height: 100%;
}

.chosen_font{
	font-family: HELVETICA NEUE;
}

.navbar{
	background-image: url("header.jpg");
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;
	border-radius: 0 !important;
}
.navbar-inverse{
	.navbar-header{
		height: 225px;
		font-family: Impact, Charcoal, sans-serif;
	}
	.navbar-nav{
		.big-font{
			background-color: none;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 20px;
			padding-left: 20px;
			border-right: 3px solid white;
			line-height: 20px;
			font-size: 2.3em;
			color: white;
			font-weight: bold;
		}
	}
}
.thumbnail{
	border: 0px;
	img{
		border: 2px solid green;
		height: 300px;
	}
}

.footer{
	background-color: black;
	height: 125px;
	bottom: 0;
	margin-bottom: 0;
	height: 150px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1em;
	ul {
		margin-left: 150px;
		li >
		.footer-font{
			background-color: none;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 15px;
			padding-left: 15px;
			border-right: 3px solid white;
			line-height: 20px;
			font-size: 1.6em;
			color: white;
			font-weight: bold;
		}
		.footer-font:hover{
			background-color: black;
		}
	}
}
text{
	font-size: 1.6em;
	color: white;
	font-weight: bold;
	margin-left: 100px;

}

